*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
                                                
}
header{
   margin-bottom: 50px;
}
h1{
    font-size: 1em;
}
.nav{
    width: 80%;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content:  space-around;
    padding: 10px;
    background-color: violet;
}
ul{
    display: flex;
    gap: 2em;
}
ul a li{
    font-style: italic;
    color: antiquewhite;
    font-weight: 300;
}
.fa-regular{
    font-size: 1.5em;
    /* visibility: hidden; */
}
@media(max-width:940px){
    nav{
        width: 100%;
    }
}
@media(max-width:900px){
    ul{
        display: none;
    }
    .fa-regular{
        visibility: visible;
    }
}
@media(max-width:550px){
    nav{
        width: 100%;
    }
}
section{
    justify-content: center;
}
.hero-sect{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 2em;
}
.hero-sect img{
    border-radius: 40px;
}
.hero-sect p{
    font-style: italic;
    line-height: 1.5;
}
@media(max-width:1100px){
    .hero-sect{
        flex-direction: column;
    }
}
